html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 10vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    margin-top: 350px;
    width: 1100px;
}

.content-fuentes {
    text-align: center;
    margin-top: 400px;
    width: 1100px;
}

.content-nueva-fuente {
    text-align: center;
    margin-top: 50px;
    width: 1100px;
}

.content-usuarios {
    margin-top: 370px;
    width: 1100px;
    text-align: center;
}

.title {
    margin-top: 30px;
    font-size: 84px;
    text-align: center;
}

.links {
    display:flex;
    margin-top: 20px;
    flex: center;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 40px;
}

.m-b-md {
    margin-bottom: 30px;
} 

.footer {
    position: relative;
    margin-top: -50px;
    height: 40px;
    padding:5px 0px;
    clear: both;
    text-align: center;
    color: #fff;
}

.crearFuente {
    margin-top: 200px;
    text-align: center;
}

.botonAgregar {
    margin-top: 300px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.tablaFuentes {
    margin-left: 400px;
    margin-top: 75px;
}

.table-hover{
    font-weight: bold;
}

.table-hover h4{
    font-weight: bold;
}

.form-class{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.aux.full-height{

}

.botones{
    display:flex;
    align-items: center;
}

.pagination{
    font-weight: bold;
}

.ordenar-label{
    margin-right: 5px;
}

.bold{
    font-weight: bold;
}